<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convidado</title>
    <link rel="stylesheet" href="./styles/buscaPorNome.css">
</head>
<body>
    
    <div id = "topo">
        <input id="txtBuscar" type="text">
        <button id="btn">Buscar por nome</button>
        <div>
            <lst-disciplinas query="_" id="ds"></lst-disciplinas>
        </div>
    </div>

    <script type="module" src="../controller/buscaPorNome.js"></script>
</body>
</html>