<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
</head>
<body>
    
    <div>
        <input id="txtBuscarId" type="text">
        <button id="btnBuscaId">Buscar por nome</button>
        <div>
            <lst-disciplinas query="_" id="idDisciplina"></lst-disciplinas>
        </div>
    </div>

    <script type="module" src="../controller/buscaId.js"></script>
</body>
</html>