<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convidado</title>

    <link rel="stylesheet" href="./styles/convidado.css">
</head>
<body>
    
    <div>
        <input id="txtBuscar" type="text">
        <button id="btn">Buscar</button>
        <div>
            <lst-disciplinas query="_" id="ds"></lst-disciplinas>
        </div>
    </div>

    <script type="module" src="../controller/convidado.js"></script>
</body>
</html>