<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil </title>
</head>
<body>
    <div>
        <p id="nome">nome</p>
        <p id="id">id</p>
        <p id="likes">likes<P>
    </div>

    <div id="com"></div>
    <button id="btnCurtir">curtir</button>
    <div>
        <br>
        <span>Comentario </span>
        <input id="txtComentar" type="text">
        <button id="btnComentar">comentar</button>
        <div>
            <lst-comentarios query="_" id="ds"></lst-comentarios>
        </div>
    </div>

    <script type="module" src="../controller/Perfil.js"></script>
    <script type="module" src="../controller/comentario.js"></script>
</body>
</html>