<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rank Disciplinas</title>
</head>
<body>
    
    <div>
        <button id="rankLikes">Rank por Likes</button>
        <br>
        <button id="rankComentarios">Rank por Cometarios</button>
        <div>
            <like-disciplinas query="_" id="rank"></like-disciplinas>
        </div>
        <div>
            <comentario-disciplinas query="_" id="rank"></comentario-disciplinas>
        </div>
    </div>
    
    <script type="module" src="../controller/Rank.js"></script>
</body>
</html>